# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [3]:
frase = "Eu sou um Minerador de Dados!"
print(frase)

Eu sou um Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [5]:
num1 = 5
num2 = 10

print(num1+num2)
print(num1-num2)
print(num1/num2)
print(num1*num2)

15
-5
0.5
50

3) Imprima o tipo de um determinado valor inteiro.

In [6]:
num1 = 5
print(type(num1))

<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [10]:
float(100)

100.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [11]:
round(2.898)

2.4545

In [ ]:
round(2.4545455,4)

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [20]:
nome = "Ricardo"


print(nome1)

Ricardo

In [21]:
nome += " Lima"
print(nome)

Ricardo Lima

In [22]:
email, idade = "ricardoalexdel@gmail.com", 34
email, idade

('ricardoalexdel@gmail.com', 34)

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [25]:
string = "Python é uma maldição!"
print(string[0])
print(string[:6])
len(string)

P
Python

22

In [27]:
frase = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
frase.count("dados")

2

In [28]:
frase.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [29]:
frase.split(',')

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [30]:
idades = [18,22,45,38,78,25]

In [31]:
idades[1]

22

In [33]:
len(idades)

6

In [36]:
idades[1] = 30
idades

[18, 30, 45, 38, 78, 25]

In [38]:
print(idades[1:-1])

[30, 45, 38, 78]

In [45]:
valores = [900,1200,1500,800,12587,10000]

In [42]:
10000 in valores

True

In [46]:
valores.append(7000)
valores

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [47]:
max(valores)

12587

In [48]:
valores.extend([990,1100])

In [50]:
valores.index(800)

3

In [51]:
min(valores)

800

In [52]:
valores.remove(1100)

In [53]:
valores.sort()

In [54]:
valores.sort(reverse=True)